<h1>Validation Exercise</h1>
<form action="/submit" method="post">
    <label for="phone-number">Phone number:</label>
    <input id="phone-number" name="phoneNumber" type="text" />
    
    <input type="submit" value="Submit" />
</form>
